* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #fff;
    --second-color: #151721;
    --third-color: #ee6c4d;
    --fourth-color: #edf6f9;
    --fifth-color: #83c5be;
    --sixth-color: #006d77;
}
  
html {
    height: 100%;
    box-sizing: border-box;
}
  
body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 4.47rem;
    box-sizing: inherit;
    background-color: var(--fourth-color);
    font-family: 'Open Sans', sans-serif;
    color: var(--second-color);
}

/* Global Styles */
h1 {
    font-family: 'Permanent Marker', serif;
    font-size: 32px;
} 

h2 {
    font-family: 'Permanent Marker', serif;
    font-size: 40px;
    color: var(--third-color);
    line-height: 1.1;
}

h3 {
    color: var(--sixth-color);
    font-weight: bold;
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.text-shadow {
    filter: drop-shadow(-2px 2px 2px #000);
}

.img-shadow {
    filter: drop-shadow(-2px 2px 2px var(--second-color));
}

.btn {
    background-color: var(--third-color);
    padding: 10px 15px;
    border-radius: 50px;
    color: var(--first-color);
    text-decoration: none;
    filter: drop-shadow(-1px 1px 2px rgba(21, 23, 33, 0.3));
}

.btn:hover {
    background-color: var(--fifth-color);
}

/* Banner */
.banner {
    background-image: url("../images/3500x1500-flip-pexels-tim-mossholder-3612932.jpg");
    background-position: top center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;  
    text-align: center;
}

/* Header */
header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(21,23,33,0.9), rgba(21,23,33,0.5));
}

header a {
    color: var(--first-color);
}

header a:hover {
    color: var(--fifth-color);
}

/* Nav & Footer Menus */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 12px 6px;
}

nav {
    font-size: 18px;
    font-weight: bold;
}

/* Hero */
.hero {
    padding: 20px 35px;
    height: 300px;
    color: var(--first-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* filter: drop-shadow(-2px 2px 1px #000); */
}

.hero p {
    font-size: 22px;
    font-weight: bold;
    color: var(--first-color);
    background: radial-gradient(rgba(21,23,33,0.2), rgba(21,23,33,0.2));
    line-height: 1.1;
    border-radius: 50px;
    padding: 10px 0;
    filter: drop-shadow(-2px 2px 1px #000);
}

/* Homepage */
.product-row {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding: 20px 35px;
}

.product-row img {
    width: 50%;
    padding: 20px;
}

.product-text-left {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-text-right {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.product-text-center {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-text-left p {
    padding: 12px 0;
}

.product-text-right p {
    padding: 12px 0;
}

.product-text-center p {
    font-size: 14px;
}

/* Product Page */
.product-banner {
    text-align: center;
    color: var(--third-color)
}

/* Cart */
.cart-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    padding: 20px 35px;
}

.order-summary {
    padding: 18px;
    text-align: center;
    width: 100%;
}

.order-summary h3 {
    padding: 18px 0;
}

.cart-btn {
    display: flex;
    flex-direction: column;
}

.cart-btn a {
    margin: 10px;
}

/* Checkout */
.checkout a {
    color: var(--fifth-color);
}

.checkout p {
    padding: 12px 0;
}

/* Contact */
.contact {
    text-align: center;
}

.contact a {
    color: var(--fifth-color);
}

.contact h3 {
    padding-top: 12px;
}

.contact p {
    font-size: 18px;
}

/* Privacy Policy & Terms */
.privacy {
    padding: 20px 35px;
}

.privacy p {
    padding: 6px 0;
}

/* Footer */
footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-style: italic;
    color: var(--fifth-color);
}

footer a {
    color: var(--fifth-color);
}

footer a:hover {
    color: var(--sixth-color)
}

/* MEDIA QUERIES */
/* For smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    footer {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 20px 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    
    footer p {
        text-align: center;
    }
}
 
/* For tablets and smaller*/
@media screen and (max-width: 768px) {
    header {
        padding: 20px 35px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}
 
/* For mobile phones and smaller */
@media screen and (max-width: 575px) {
    header {
        padding: 20px 35px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    
    .menu li {
        padding: 12px 6px;
    }

    .product-row {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        padding: 20px 35px;
        width: 100%;
    }
    
    .product-row img {
        width: 100%;
        padding: 20px;
    }
    
    .product-text-left {
        width: 100%;
    }
    
    .product-text-right {
        width: 100%;
    }

    .product-text-center {
        width: 100%;
    }

    .cart-row {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        align-content: flex-start;
        flex-direction: column;
        padding: 20px 35px;
    }
}