* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #000;
    --second-color: #fff;
}
  
html {
    height: 100%;
    box-sizing: border-box;
}
  
body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 4.47rem;
    box-sizing: inherit;
}

/* Global Styles */

/* Banner */
.banner {
    background-image: url("../images/3500x1500-flip-pexels-tim-mossholder-3612932.jpg");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;  
    text-align: center;
}

/* Header */
header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5));
}

header a {
    color: var(--second-color);
}

/* Nav & Footer Menus */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 12px 6px;
}

/* Hero */
.hero {
    padding: 20px 35px;
    height: 300px;
    color: var(--second-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

/* Footer */
footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-style: italic;
}

/* MEDIA QUERIES */
/* For smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    footer {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 20px 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    
    footer p {
        text-align: center;
    }
}
 
/* For tablets and smaller*/
@media screen and (max-width: 768px) {
    header {
        padding: 20px 35px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}
 
/* For mobile phones and smaller */
@media screen and (max-width: 575px) {
    header {
        padding: 20px 35px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    
    .menu li {
        padding: 12px 6px;
    }
}